# Importing Libraries

In [1]:
# importing libraries

import os
import numpy as np
import pandas as pd

# Importing Data

### Question 3
#### Import the orders_products_combined dataframe from the pickle file you just saved

In [2]:
# importing orders_products_combined data from prepared folder

orders_products_combined = pd.read_pickle(r"C:\Users\abiha\OneDrive\Documents\IC Project Folder\2. Data\Prepared Data\orders_products_combined.pkl")

In [3]:
# Set path to IC Project Folder

path = r"C:\Users\abiha\OneDrive\Documents\IC Project Folder"

In [4]:
# importing products_cleaned data from prepared folder

df_prods_clean = pd.read_csv(os.path.join(path, '2. Data', 'Prepared Data', 'Products_cleaned.csv'), index_col = False)

### Question 4
#### Check the shape of the imported dataframe

In [6]:
# Checking shape of df

orders_products_combined.shape

(32434489, 11)

### Question 5
#### Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [8]:
# Checking way to combine df's

orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,1,196,1,0,both
1,2539329,1,1,2,8,NaN,1,14084,2,0,both
2,2539329,1,1,2,8,NaN,1,12427,3,0,both
3,2539329,1,1,2,8,NaN,1,26088,4,0,both
4,2539329,1,1,2,8,NaN,1,26405,5,0,both

In [9]:
# Checking way to combine df's

df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Merging df's

prods_merged = orders_products_combined.merge(df_prods_clean, on = ['product_id'], how = 'inner')

In [13]:
# Checking output of new df

prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,1,196,1,0,both,195,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,0,196,1,1,both,195,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,0,196,1,1,both,195,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,0,196,1,1,both,195,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,0,196,1,1,both,195,Soda,77,7,9.0

### Question 6
#### Confirm the results of the merge using the merge flag.

In [14]:
# Confirming results of merge

prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Question 7
#### Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [15]:
# Exporting new merged df

prods_merged.to_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'order_products_merged.pkl'))