# Importing Libraries

In [1]:
import os
import numpy as np
import pandas as pd

# Importing Data

In [2]:
# Set path
path = r"C:\Users\abiha\OneDrive\Documents\IC Project Folder"

In [3]:
# Import the data

df_ords = pd.read_csv(os.path.join(path, '2. Data', 'Prepared Data', 'Orders_checked.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '2. Data', 'Prepared Data', 'Products_cleaned.csv'), index_col = False)

In [4]:
df_ords.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'eval_set',
       'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'first_order'],
      dtype='object')

In [5]:
df_ords.drop(columns = {'eval_set', 'Unnamed: 0'}, inplace = True)

In [6]:
df_ords.columns

Index(['Unnamed: 0.1', 'order_id', 'user_id', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'first_order'],
      dtype='object')

In [7]:
df_ords.drop(columns = {'Unnamed: 0.1'}, inplace = True)

In [8]:
df_ords.rename(columns = {'order_dow':'orders_day_of_week', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [9]:
df_prods.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [10]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_time_of_day       int64
 5   days_since_prior_order  float64
 6   first_order             int64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

In [11]:
# Change types for ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_time_of_day']=df_ords['order_time_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [12]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   first_order             int64
dtypes: float16(1), int32(2), int64(1), int8(3)
memory usage: 68.5 MB

In [13]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [14]:
df_prods.drop(columns = {'Unnamed: 0'}, inplace = True)

In [15]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [16]:
df_prods['product_id'] =df_prods['product_id'].astype('int32')
df_prods['aisle_id']=df_prods['aisle_id'].astype('int8')
df_prods['department_id']=df_prods['department_id'].astype('int8')
df_prods['prices']=df_prods['prices'].astype('float16')

In [17]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(1), int8(2), object(1)
memory usage: 776.2+ KB

In [18]:
df_ords_prior = pd.read_csv(os.path.join(path, '2. Data', 'Original Data', 'order_products_prior', 'order_products__prior.csv'), index_col = False)

In [19]:
df_ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [20]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [21]:
df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [22]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [27]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [29]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,1,196,1,0,both
1,2539329,1,1,2,8,NaN,1,14084,2,0,both
2,2539329,1,1,2,8,NaN,1,12427,3,0,both
3,2539329,1,1,2,8,NaN,1,26088,4,0,both
4,2539329,1,1,2,8,NaN,1,26405,5,0,both

In [30]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [31]:
df_merged_large.to_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'orders_products_combined.pkl'))